<div class="employee-info">
    <div class="avatar">
        <img src="../../../assets/avatar.svg" alt="avatar" width="77" height="77" />
    </div>
    <div class="e-info">
        <span>{{selectedEmployee.first_name}} {{selectedEmployee.last_name}}</span>
        <span>{{selectedEmployee.job_position}}</span>
    </div>
    <div class="e-info-right">
        <span>Seniority</span>
        <span>{{selectedEmployee.seniority}}</span>
    </div>
    <div class="e-info-right">
        <span>Date of admission</span>
        <span>{{selectedEmployee.admission_date}}</span>
    </div>
</div>

<div class="middle-cards">
    <div class="card">
        <h5>Vacations</h5>
        <p>Open a request</p>
        <img src="../../../assets/vacation_icon.svg" alt="Vacations" width="75" height="75" />
        <div class="card-bottom">
            <div class="bottom-info">
                <span>Days taken</span>
                <p>2 days</p>
            </div>
            <div class="bottom-info">
                <span>Available</span>
                <p>7 days</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h5>Contingency</h5>
        <p>Open a request</p>
        <img src="../../../assets/contingency_icon.svg" alt="Contingency" width="75" height="75" />
        <div class="card-bottom">
            <div class="bottom-info">
                <span>Available</span>
                <p>3 days</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h5>Incapacity</h5>
        <p>Open a request</p>
        <img src="../../../assets/incapacity_icon.svg" alt="Incapacity" width="75" height="75" />
        <div class="card-bottom">
            <div class="bottom-info">
                <span>Days taken</span>
                <p>4 days</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h5>Time by time</h5>
        <p>Open a request</p>
        <img src="../../../assets/timebytime_icon.svg" alt="Time by time" width="75" height="75" />
        <div class="card-bottom">
            <div class="bottom-info">
                <span>Days taken</span>
                <p>2 days</p>
            </div>
        </div>
    </div>
</div>
