<div class="employee-info">
    <div class="avatar">
        <img src="../../../assets/avatar.svg" alt="avatar" width="77" height="77" />
    </div>
    <div class="e-info">
        <span>{{selectedEmployee.first_name}} {{selectedEmployee.last_name}}</span>
        <span>{{selectedEmployee.job_position}}</span>
    </div>
    <div class="e-info-right">
        <span>Seniority</span>
        <span>{{selectedEmployee.seniority}}</span>
    </div>
    <div class="e-info-right">
        <span>Date of admission</span>
        <span>{{selectedEmployee.admission_date}}</span>
    </div>
</div>

<div class="middle-cards">
    <div class="card">
        <h5>Vacations</h5>
        <p>Open a request</p>
        <img src="../../../assets/vacation_icon.svg" alt="Vacations" width="75" height="75" />
        <div class="card-bottom">
            <div class="bottom-info">
                <span>Days taken</span>
                <p>2 days</p>
            </div>
            <div class="bottom-info">
                <span>Available</span>
                <p>7 days</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h5>Contingency</h5>
        <p>Open a request</p>
        <img src="../../../assets/contingency_icon.svg" alt="Contingency" width="75" height="75" />
        <div class="card-bottom">
            <div class="bottom-info">
                <span>Available</span>
                <p>3 days</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h5>Incapacity</h5>
        <p>Open a request</p>
        <img src="../../../assets/incapacity_icon.svg" alt="Incapacity" width="75" height="75" />
        <div class="card-bottom">
            <div class="bottom-info">
                <span>Days taken</span>
                <p>4 days</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h5>Time by time</h5>
        <p>Open a request</p>
        <img src="../../../assets/timebytime_icon.svg" alt="Time by time" width="75" height="75" />
        <div class="card-bottom">
            <div class="bottom-info">
                <span>Days taken</span>
                <p>2 days</p>
            </div>
        </div>
    </div>
</div>

<div class="tab-container">
    <div class="tab-header">
        <div class="tab-header-item" *ngFor="let tab of tabs" [class.active]="tab === activeTab"
            (click)="setActiveTab(tab)">
            {{ tab.title }}
        </div>
    </div>
    <div class="tab-content">
        <ng-container *ngIf="activeTab === tabs[0]">

            <table>
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Status</th>
                        <th>Initial Date</th>
                        <th>Days Requested</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of selectedEmployee.vacations">
                        <td>{{v.folio}}</td>
                        <td><span class="status-text">{{v.status}}</span></td>
                        <td>{{v.initial_date}}</td>
                        <td>{{v.days_requested}}</td>
                        <td class="action-buttons">
                            <a (click)="openModal(v)" title="Edit">
                                <img src="../../assets/edit_icon.svg" alt="edit-icon" width="20px" height="20px" />
                            </a>
                            <a title="Cancel">
                                <img src="../../assets/cancel_icon.svg" alt="cancel-icon" width="20px" height="20px" />
                            </a>
                            <a title="Delete">
                                <img src="../../assets/delete_icon.svg" alt="delete-icon" width="20px" height="20px" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <div class="p-left-bar">
                    <div class="pl-page">
                        <p>Items per page:</p>
                        <select name="pages" class="page-option">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <p>1-5 of 155 items</p>
                </div>
                <div class="p-right-bar">
                    <div class="pr-page">
                        <select name="pages" class="page-option">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <p>of 31 pages</p>
                    </div>
                    <div class="pr-buttons">
                        <button class="previous-button">
                            <img src="../../assets/arrow-left.svg" alt="arrow-left" width="5px" height="8px" />
                        </button>
                        <button class="next-button">
                            <img src="../../assets/arrow-right.svg" alt="arrow-right" width="5px" height="8px" />
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="activeTab === tabs[1]">
            <table>
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Status</th>
                        <th>Initial Date</th>
                        <th>Days Requested</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of selectedEmployee.contingency">
                        <td>{{c.folio}}</td>
                        <td><span class="status-text">{{c.status}}</span></td>
                        <td>{{c.initial_date}}</td>
                        <td>{{c.days_requested}}</td>
                        <td class="action-buttons">
                            <a (click)="openModal(c)" title="Edit">
                                <img src="../../assets/edit_icon.svg" alt="edit-icon" width="20px" height="20px" />
                            </a>
                            <a title="Cancel">
                                <img src="../../assets/cancel_icon.svg" alt="cancel-icon" width="20px" height="20px" />
                            </a>
                            <a title="Delete">
                                <img src="../../assets/delete_icon.svg" alt="delete-icon" width="20px" height="20px" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <div class="p-left-bar">
                    <div class="pl-page">
                        <p>Items per page:</p>
                        <select name="pages" class="page-option">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <p>1-5 of 155 items</p>
                </div>
                <div class="p-right-bar">
                    <div class="pr-page">
                        <select name="pages" class="page-option">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <p>of 31 pages</p>
                    </div>
                    <div class="pr-buttons">
                        <button class="previous-button">
                            <img src="../../assets/arrow-left.svg" alt="arrow-left" width="5px" height="8px" />
                        </button>
                        <button class="next-button">
                            <img src="../../assets/arrow-right.svg" alt="arrow-right" width="5px" height="8px" />
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="activeTab === tabs[2]">
            <p>Tab 3 content</p>
        </ng-container>
        <ng-container *ngIf="activeTab === tabs[3]">
            <p>Tab 4 content</p>
        </ng-container>
    </div>
</div>

<modal [(isOpen)]="isOpen" [data]="modalData"></modal>