.dash-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100px;
}

.dash-left,
.dash-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 513px;
}

.dash-left h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: #1C1B1F;
}

.dash-left p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0015em;
    color: #1C1B1F;
}

.dash-right h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1C1B1F;
    opacity: 0.2;
}

.dash-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.dash-card {
    width: 209px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F9FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.dash-card h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
}

.dash-card p {
    font-family: 'Kalinga';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
}

.dash-card h1 {
    height: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
    color: #000000;
}

.dash-search-container {
    background: #F8F9FA;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    margin-top: 50px;
    padding: 15px 30px;
    gap: 40px;
}

.dash-search-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    height: 77px;
}

.dash-search-content span {
    font-family: 'Kalinga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
}

.search-container {
    position: relative;
}

input.search-input {
    width: 100%;
    height: 42px;
    border: 1px solid #54534A;
    border-radius: 5px;
    padding-left: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 52px;
    color: #726658;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.dash-search-content select {
    width: 100%;
    height: 42px;
    border: 1px solid #54534A;
    border-radius: 5px;
    padding-left: 20px;
    background: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 52px;
    color: #726658;
}


table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
}

th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
}

th,
td {
    padding: 10px;
    text-align: center;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Kalinga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

th {
    background: rgba(217, 217, 217, 0.6);
    font-weight: bold;
}

tr:nth-child(even) {
    background: rgba(217, 217, 217, 0.18);
}

th:nth-child(n+2):nth-child(-n+4),
td:nth-child(n+2):nth-child(-n+4) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background: #D9D9D9;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination * {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.pagination select {
    border: none;
    background: none;
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.p-left-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
}

.pl-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #A7A8A9;
    padding-right: 15px;
}

.p-right-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.pr-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #A7A8A9;
    padding-left: 15px;
}

.pagination a {
    padding: 5px 10px;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagination a:not(:last-child) {
    margin-right: 2px;
}

.pagination a:hover {
    background-color: #666;
    color: #fff;
    border-color: #666;
}

.pagination .active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.pr-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80px;
}

.pr-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    width: 40px;
    border-left: 1px solid #A7A8A9;
}