<div class="dash-header-container">
    <div class="dash-left">
        <h1>Welcome, Monica 👋🏻</h1>
        <p>Good to see you boss !</p>
    </div>
    <div class="dash-right">
        <h1>View to be defined</h1>
    </div>
</div>

<div class="dash-card-container">
    <div class="dash-card">
        <h4>Vacations</h4>
        <p>Total requests</p>
        <h1>25</h1>
    </div>
    <div class="dash-card">
        <h4>Contingency</h4>
        <p>Total requests</p>
        <h1>9</h1>
    </div>
    <div class="dash-card">
        <h4>Incapacity</h4>
        <p>Total requests</p>
        <h1>12</h1>
    </div>
    <div class="dash-card">
        <h4>Time by time</h4>
        <p>Total requests</p>
        <h1>345</h1>
    </div>
</div>

<div class="dash-search-container">
    <div class="dash-search-content">
        <span>Search for order</span>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search" />
            <span class="search-icon">
                <img src="../../assets/search-icon.svg" alt="search" width="21px" height="21px" />
            </span>
        </div>

    </div>
    <div class="dash-search-content">
        <span>Job position</span>
        <select name="jobs" class="job-position">
            <option value="all">All</option>
            <option value="cat-1">Category 1</option>
            <option value="cat-2">Category 2</option>
            <option value="cat-3">Category 3</option>
        </select>
    </div>
    <div class="dash-search-content">
        <span>Date</span>
        <select name="jobs" class="job-position">
            <option value="all">All</option>
            <option value="cat-1">Category 1</option>
            <option value="cat-2">Category 2</option>
            <option value="cat-3">Category 3</option>
        </select>

    </div>
    <div class="dash-search-content">
        <span>Employee status</span>
        <select name="jobs" class="job-position">
            <option value="all">All</option>
            <option value="cat-1">Category 1</option>
            <option value="cat-2">Category 2</option>
            <option value="cat-3">Category 3</option>
        </select>

    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Job position</th>
            <th>Date of admition</th>
            <th>Employee status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jose Eduardo Piña Lopez</td>
            <td>Software Specialist</td>
            <td>25 JUN 2020</td>
            <td>Active</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Carlos Javier Diaz Flores</td>
            <td>Software Specialist</td>
            <td>23 MAY 2022</td>
            <td>Active</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Adriana Gomez Fonseca</td>
            <td>CEO</td>
            <td>25 FEB 2005</td>
            <td>Active</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Josefina Martinez Peralta</td>
            <td>Delivery Owner</td>
            <td>03 DIC 2018</td>
            <td>Active</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Sofia Amado Lopez</td>
            <td>Marketing</td>
            <td>19 SEP 2019</td>
            <td>Active</td>
            <td>...</td>
        </tr>
    </tbody>
</table>
<div class="pagination">
    <div class="p-left-bar">
        <div class="pl-page">
            <p>Items per page:</p>
            <select name="pages" class="page-option">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <p>1-5 of 155 items</p>
    </div>
    <div class="p-right-bar">
        <div class="pr-page">
            <select name="pages" class="page-option">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <p>of 31 pages</p>
        </div>
        <div class="pr-buttons">
            <button class="previous-button">
                <img src="../../assets/arrow-left.svg" alt="arrow-left" width="5px" height="8px" />
            </button>
            <button class="next-button">
                <img src="../../assets/arrow-right.svg" alt="arrow-right" width="5px" height="8px" />
            </button>
        </div>
    </div>
</div>